@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: 'Mukta', sans-serif;
}

h1{
    font-family: 'Mukta', sans-serif;
    color: #fff4e6;
}

h2{
    font-family: 'Nunito Sans', sans-serif;
    color: #fff4e6;
}

h3{
    font-family: 'Nunito Sans', sans-serif;
    color: #563d35;
}

#btn-cat{
	background-color: #a13431;
}

nav{
    font-family: 'Mukta', sans-serif;
    background-color: #fff4e6;
	padding: 1em 3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
    nav ul{
	display: flex;
    justify-content: end;
    align-items: end;
	}

		nav ul li{
			list-style: none;
			margin-right: 2em;
		}

		nav ul li a{
			font-size: 1.4em;
			text-decoration: none;
			color: #a13431;
		}

		nav ul li a:hover{
			color: #a13431;
			font-weight: 600;
		}





#drop1{
    background-color: #563d35;
    color: #fff4e6;
}

#drop{
    color: #fff4e6;
    background-color: #563d35;
    
}

ul{
	display: flex;
    justify-content: start;
    align-items: start;
	}
		ul li{
			list-style: none;
		}

		ul li a{
			font-size: 1.5em;
			text-decoration: none;
			color: #a13431;
		}

		ul li a:hover{
			color: #a13431;
			font-weight: 600;
		}

.logo {
    margin-left: 3em;
}

.logo__name{
    font-size: 1.5em;
    color: #a13431;
    text-decoration: none;
    text-transform: uppercase;
}
    .logo__name:hover{
        color: #a13431;
        font-weight: 600;
    }

header {
    padding: 1em;
	background: #fff4e6;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.title{
    margin-bottom: 0.3em;
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff4e6;
}

p {
    font-size: 1.3em;
    color: #fff;
    padding: 0 10em;
    font-family: 'Mukta', sans-serif;
}

.carousel-item{
    height: 35em;
}

.carousel{
    width: 30em;
    margin: auto;
}

.contenido{
    height: 80em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    background: #563d35;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 12em;
    width: 18em;
    background: #101010;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 .3em 5em rgba(0, 0 , 0, .5);
    margin: 2em;   
}

.box-container .box i {
    height: 3em;
    width: 3em;
    line-height: 3em;
    text-align: center;
    border-radius: 50%;
    color: 	#fff4e6;
    font-size: 2em;
    margin: 0.05px;
    padding: 0%;
}

.box-container .box h3 {
    font-size: 1.5em;
    color: 	#fff4e6;
}

.box-container .box p {
    padding: 0 0.2em;
    font-size: 1em;
}

.about {
    height: 40em;
    background: #2b1e1a;
}

#contact{
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    background: #a13431;
    padding-bottom: 2em;
}

.socialmedia{
    margin-top: 3em;
    display: flex;
    color: 	#fff4e6;
}

.socialmedia__icon{
    font-size: 4em;
    margin-right: 0.2em;
    display: inline-block;
    color: #fff4e6;
}

.socialmedia__legend{
    margin-right: 2em;
    font-size: 2em;
    font-family: 'Mukta', sans-serif ;
}




.p__articulo{
	width: 100%;
	height: auto;
	margin: 1em auto;
	padding: 3em 2em;
	overflow: auto;
}

.text-center{
	text-align: center;
}

.bg{
    background-color: #563d35;
}

.cardCat{
    width: 70%;
    height: 30em;
}

.precio {
    width: 100%;
    height: auto;
    margin: auto;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px; }
    .precio .box-precio {
      width: 50%;
      height: auto;
      margin: auto;
      margin-top: 0;
      margin-bottom: 0; }
      .precio .box-precio .precio1 {
        color: red;
        font-size: 1.5em; }
    .precio .precio2 {
      color: #a13431;
      font-size: 2em;
      font-weight: 600; }
      @media (min-width: 1524px) {
        .precio .precio2 {
          font-size: 3rem; } }

#talle {
    color: #563d35;
    margin-bottom: 1em;
    font-size: 1em; 
}

#talles{
    color: #563d35;
    margin-bottom: 1em;
    font-size: 1em;
    width: 20em;

}

.trash{
    height: 3em;
    width: 50%;
}

@media (min-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 3em;
    }

    .sau{
        height: 40em;
    }

    .about{
        height: 30em;
    }

    .logo__name{
        font-size: 2em;
        color: #a13431;
        text-decoration: none;
        text-transform: uppercase;
    }
        .logo__name:hover{
            color: #a13431;
            font-weight: 600;
        }
} 